<div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="<%=status_1 %>"><a href="/blog">博客主页 <span class="sr-only">(current)</span></a></li>
            <li class="<%=status_2 %>"><a href="/blogList">文章列表</a></li>
            <li class="<%=status_3 %>"><a href="/dairy">学习日记</a></li>
            <li><a href="#">个人计划</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="<%=status_4 %>"><a href="#">Web 前端</a></li>
            <li class="<%=status_5 %>"><a href="#">>Node.js</a></li>
            <li class="<%=status_6 %>"><a href="#">HTTP</a></li>
            <li class="<%=status_7 %>"><a href="#">MySQL</a></li>
            <li class="<%=status_8 %>"><a href="#">项目汇总</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="<%=status_9 %>"><a href="#">我的生活</a></li>
            <li class="<%=status_10 %>"><a href="#">我的读书日记</a></li>
            <li class="<%=status_11 %>"><a href="/microblog">Micro Blog应用</a></li>
          </ul>
        </div>