 <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>关于</h4>
            <p><em>Missaly's</em>&nbsp;&nbsp;博客 <br/>
            主页:<a href="http://misslays.sinaapp.com">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;misslays.sinaapp.com</a><br/>
            微信：&nbsp;&nbsp;goodluckjy8<br />
            微博:<a href="http://weibo.com/u/1980513945/home?wvr=5&sudaref=passport.weibo.com">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;叫我花厨娘娘</a>
            <br />
            豆瓣：<a href= "http://www.douban.com/people/74583903/">&nbsp;&nbsp;一条</a></p>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->